body {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    height: 100vh;

}
.container {
    background-color: blue;
    height: 200px;
    width: 350px;
    border-radius: 8px;
}

.linhas {
    display: flex;
    flex-direction: row;
   gap: 50px;
    align-items: center;
}