body {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    height: 100vh;

}
.container {
    background-color: blue;
    height: 220px;
    width: 400px;
    border-radius: 8px;
}

.linhas {
    display: flex;
    flex-direction: row;
   gap: 80px;
    align-items: center;
}