body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.container {
    background-color: blue;
    height: 200px;
    width: 350px;
    border-radius: 8px;
}

.linhas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}